/*body {
  background-color: #2196F3; 
  color : #212121;
}


h1, h2 {
  color : white;
}
h1,h2 {
  background-color : #1976D2; 
}


section {
  background-color : #40C4FF; 
}

article, header {
  background-color : #FFFFFF;
}

header {
  background-color : #0091EA; 
  color : white;
}
*/
