body {
  background-color: #212121;
}

h1 {
  background-color : #0288D1;
  color : white;
  width : 800px;  
   padding: 5px 3%;
  border-top: 5px solid #FFEB3B;     
  border-bottom: 5px solid #FFEB3B;
  width: 800px;
  margin: 10px auto;

}

div { 
  line-height : 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

section {
  display : inline-block;
  width : 150px;
  height : 150px;
  border: 5px solid white; 
  border-bottom: 5px solid #F44336; 
  margin-left: 10px;
  margin-right: 10px;
  padding : 20px 10px 5px 0px;            
  background-color: #0288D1;       

}


article {  
  display : inline-block;   
  text-align: center;

  background-color: #03A9F4;
  
  width : 100%;
  height : 100%;
  
}

div:nth-of-type(even) section:nth-of-type(odd) article,
div:nth-of-type(odd) section:nth-of-type(even) article
{
  background-color: #FFC107;
}

div:nth-of-type(odd) section:nth-of-type(odd) article,
div:nth-of-type(even) section:nth-of-type(even) article
{
  background-color: #8BC34A;
}
span{
   border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  padding: 1px 5px;
}
