header {
   background-color: rgba(128,255,128,0.3);
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 15px;
    margin-bottom: 8px;
}
header h1 {
    margin: 0;
}
.main { 
    background-color: rgba(128,255,128,0.3);
    padding: 10px;
}
header span {
    border: 2px solid white;
}
.science-fiction {
    background-color: rgb(254,128,128);
}
.fantasy {
    background-color: rgb(128,128,254);
}
.bandes-dessinees {
    background-color: rgb(238,238,204);
}
.livre {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 15px;
    padding: 10px;
    box-shadow: 0px 0px 4px 2px rgba(200,120,120,0.6);
    transition: transform 0.2s;
}
.livre:hover {
    box-shadow: 0px 0px 4px 4px rgba(100,20,20,0.6);
    transform: scale(1.02);
}
.livre.favori {
    background-color: rgba(200, 200, 255, 0.6);
    box-shadow: 0px 0px 6px 3px rgba(50,50,150,0.6);
}
.livre.favori h2 {
    color: blue;
}
.couverture {
    text-align: center;
    height: 70%;
}
.couverture img {
    max-width: 100%;

}
.informations {
    height: 20%;
    text-align: left;
    padding: 5px;
}
.informations h2 {
    font-weight: bold;
}

.auteurs span {
    font-style: italic;
    display: block;
}
.auteurs span:first-of-type {
    border-bottom: 2px solid black;
}

time {
    display: block;
    color: gray;
}
