
nav.menu {
    position: fixed;               
  float: right;
    top: 0; 
     left: 0;
    width: 100%;  
     background-color: rgb(65, 65, 166);
      padding: 5px; 
      margin-bottom:100px;
}
nav.menu ul li{
    display: inline;
    list-style-type: none; 
    padding: 0; 
}
nav.menu ul li a {
    text-decoration: none; 
    color: rgb(5, 211, 19); 
    font-weight: bold; 
    border: 2px solid white;
}
div.contenu {
    margin-top: 100px; 
}
