h1{
    background-image: url(../images/boussole.jpg);
    background-repeat: no-repeat;		
    background-size:  45px;
    background-position: 10px 0px;
    padding-left: 60px;
    background-color: rgba(255, 255, 255, 0.5);
     border: none;   
      

    	

}