section{
    border: none;
    background-image: url("../images/bois.png");
    background-repeat: repeat-y;
    background-size: auto;
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
    border-radius: 8px;

}
article{
    color: whitesmoke;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}